:root {
    --nav-background: rgb(83, 109, 88);
    --nav-text: #f0f0f0;
    --nav-primary: rgb(7, 137, 177);
    --nav-secondary: #BC3823;
    --nav-hover: rgba(255, 127, 80);
}

/* Reference */

nav {
    background-color: var(--nav-background);
    margin: 0;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .menu-items {
    list-style: none;
    text-decoration: none;
}

nav .menu-items li {
    display: inline-block;
}

nav .menu-items li a {
    color: var(--nav-text);
    text-decoration: none;
    cursor: pointer;
    padding: 7px 10px;
    transition: all 0.2s ease;
}

nav .menu-items li a:hover,
nav .menu-items li.active a:hover {
    color: var(--nav-hover)
}

nav .menu-items li.active a{
    color: var(--nav-text);
    background-color: var(--nav-primary);
    padding: 9px 12px;
    border-radius: 14px;
}

nav .menu-info label {
    color: var(--nav-text);
    background-color: var(--nav-secondary);
    padding: 3px 6px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 3rem;
}